{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-exclamation-circle fa-4x" aria-hidden="true"></i>
    <h2 id="urgent">Urgent</h2>
        <div class="">
            <h4 class="titre">06/01/17 | Paiements pour le voyage à Barcelone</h4>
            <p><span>Vous devez payer votre voyage avant Samedi, dépassé cette date nous ne pourrons plus vous accepter. Plus de renseignements auprès de l'administration.</span></p>
            <p class="auteur">David Malsot</p>
            <hr class="hr-auteur">
        </div>

    <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>

    <h2 id="actu">Actualités
        {% if session.toto.admin == 1 %}
            <a class="fa fa-plus-circle fa-lg" href="index.php?page=add_actualite"></a>
        {% endif %}
    </h2>


    {% for actualite in liste %}
    <a href="index.php?page=article&id={{ actualite.id }}">

        <div class="actu_content">

            <h4 class="titre">{{ actualite.date | date("d/m/Y") }} | {{ actualite.titre }}</h4>
            <img class="article_imgs" src="media/interface/{{ actualite.image }}" alt="image">
            <p><span>{{ actualite.contenu | slice(0, 200)  }}...</span></p>
            <p class="auteur">{{ actualite.responsables }}</p>
            <hr class="hr-auteur">
        </div>
    </a>
    {% endfor %}


{% endblock %}
