{% extends 'front/general.html.twig' %}

{% block contenu %}
    {% if liste !='' %}
    <div class="article">
        <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>

        <h2>{{ liste.oui.titre }}</h2>
        <img src="media/interface/{{ liste.oui.image }}" alt="barcelone">

        <div class="article_content">

            <p>
            <h4 class="titre">Rappels !</h4>
            {{ liste.oui.contenu }}
            <p><span class="titre">Publié par :</span> {{ liste.oui.responsables }}</p>
            </p>
            <br>
        </div>

    </div>
{% endif %}
{% endblock %}

{% block meteo %}
    <div class="auteur-article">
        <a href="index.php?page=404">
            <div class="photo"></div>
        </a>
        <h2>{{ liste.oui.responsables }}</h2>
        {% if session.toto.admin == 1 %}
            <hr class="hr-menu">
            <form method="post" action="index.php?page=article_suppression&id={{ liste.oui.id }}">
            <input name="suppr" class="button connexion" type="submit" value="supprimer l'article">
            </form>
            <hr class="hr-menu">
        {% endif %}
        <h4 class="titre">Date de publication :</h4>
        <p>{{ liste.oui.date | date("d/m/Y") }}</p>
    </div>
{% endblock %}