{% extends 'front/general.html.twig' %}

{% block contenu %}
    {% if liste !='' %}
        <div class="article">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>

            <h2>{{ liste.oui.titre }}</h2>
            <img src="media/uploads/evenements/{{ liste.oui.image }}" alt="Image d'événement">

            <div class="article_content">
                <h3 class="titre">Description :</h3>
                <div class="desc_article">{{ liste.oui.contenu|raw }}</div>
                <p><span class="titre">Coûts de participation :</span> {{ liste.oui.prix }} €</p>
                <p><span class="titre">Objets à prévoir :</span> {{ liste.oui.a_prevoir }}</p>
                <p><span class="titre">Publié par :</span> {{ liste.oui.auteurPrenom }} {{ liste.oui.auteurNom }}</p>
                <p><span class="titre">Le : </span> {{ liste.oui.date | date("d/m/Y") }}</p>

                {% if session.toto.admin == 1 %}
                    <form method="post" action="index.php?page=article_evenement_suppr&id={{ liste.oui.id }}">
                        <input name="suppr" class="button connexion" type="submit" value="Supprimer l'article">
                        <a href="index.php?page=update_evenement&id={{ liste.oui.id }}" class="button connexion">Modifier l'événement</a>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
