{% extends 'front/general.html.twig' %}

{% block contenu %}
    <div class="evenements">

        <a href="index.php?page=poster_evenement" class="button proposer">Proposer un événement</a>

        <hr class="hr-actu deux">

        <i class="fa fa-calendar-o fa-4x" aria-hidden="true"></i>
        <h2>Événements à venir</h2>
        <div class="EventAVenir">


            {% for evenement in liste %}
            {% if evenement.approuve == 1 %}
            <a href="index.php?page=article_evenement&id={{ evenement.id }}">

                <div class="event_content">
                    <h4 class="titre">{{ evenement.date | date("d/m/Y") }} | {{ evenement.titre }}</h4>

                    <img class="article_imgs" src="media/uploads/evenements/{{ evenement.image }}" alt="Image d'événement">
                    <p><span>{{ evenement.contenu | slice(0, 200)  }}...</span></p>
                </div>

            </a>
                <hr class="hr-auteur">
            {% endif %}
            {% endfor %}


</div>
    </div>
{% endblock %}


