{% extends 'front/general.html.twig' %}

{% block contenu %}
        <form method="post" enctype="multipart/form-data" >
        <div class="article">

            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
            <h2>{{ liste.oui.nom }}  {{ liste.oui.prenom }}</h2>
                <img class="img_cercle_big" src="media/uploads/avatars/{{ session.toto.avatar }}" alt="avatar {{ liste.oui.prenom }} {{ liste.oui.nom }}">
            <br> <br>
            <div class="liste-img">
                Changer avatar : <input type="file" name="fichier" title="Rechercher"/>

            </div>
            <br>
            <div class="auteur-article">
                    <p class="nom">{{ liste.oui.nom }} {{ liste.oui.prenom }}</p>
                    <p>Description : <textarea maxlength="245 rows="4" cols="50" name="description" placeholder="{{ liste.oui.description }}"></textarea></p>
                    <p>Mail :<input type="text" name="email" placeholder="{{ liste.oui.email }}" /></p>



                    <p>Date de naissance : <input type="text" name="naiss" id="datepicker"/></p>
                    <p><span class="titre">Date d'inscription :</span> {{ liste.oui.date_inscription | date("d/m/Y") }}</p>
            </div>



        </div>
        <div class="auteur-article">
            <hr class="hr-menu">
            <input class="button submit" type="submit" name="soumettre" value="Modifications terminées" />

            <hr class="hr-menu">
            <ul class="rs">
                <li><a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        </form>
{% endblock %}


