{% extends 'front/general.html.twig' %}

{% block contenu %}
    <div class="article">
        <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
        <h2>{% if liste !='' %}
                {{ liste.oui.nom }}  {{ liste.oui.prenom }}
    {% endif %}</h2>
    {% if liste !='' %}
        <img id="avatar" src="media/interface/{{ liste.oui.avatar }}" alt="avatar">
{% endif %}

        <div class="auteur-article">

    {% if liste !='' %}
        <div class="infos">
        <p class="nom">{{ liste.oui.nom }} {{ liste.oui.prenom }}</p>
        <p>Description : {{ liste.oui.description }}</p>
        <p>Mail : {{ liste.oui.email }}</p>
        <p>Date de naissance :  {% if liste.oui.naiss == null %} inconnu {% else %} {{ liste.oui.naiss | date("d/m/Y") }} {% endif %}</p>
        <p>Date d'inscription : {{ liste.oui.date_inscription | date("d/m/Y") }}</p>
        </div>
        {% endif %}
        </div>
        <p/>
    </div>
    <div class="auteur-article">
        {% if session.toto.id == liste.oui.id %}
        <hr class="hr-menu">
        <a class="button connexion" href="index.php?page=profil_update">Modifier mon profil</a>

        <hr class="hr-menu">
        {%  endif %}
        <ul class="rs">
            <li><a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
        </ul>
    </div>


{% endblock %}


