{% extends 'front/general.html.twig' %}

{% block contenu %}
    <div class="article">
        <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>
        <h2>{% if liste !='' %}
                {{ liste.oui.nom }}  {{ liste.oui.prenom }}
    {% endif %}</h2>
    {% if liste !='' %}
        <div class="center">
            <img class="img_cercle_big" src="media/uploads/avatars/{{ liste.oui.avatar }}" alt="avatar {{ liste.oui.prenom }} {{ liste.oui.nom }}">
        </div>
{% endif %}

        <div class="auteur-article">

    {% if liste !='' %}
        <div class="infos">
            <h3 class="titre">{{ liste.oui.prenom }} {{ liste.oui.nom }} :</h3>
            <p>{{ liste.oui.contenu }}</p>
            <p><span class="titre">Description :</span> {{ liste.oui.description }}</p><br>
            <p><span class="titre">Email :</span> {{ liste.oui.email }}</p>
            <p><span class="titre">Date de naissance :</span> {{ liste.oui.date_naissance | date("d/m/Y") }}</p>
            <br>
            <p><span class="titre">Date d'inscription :</span> {{ liste.oui.date_inscription | date("d/m/Y") }}</p>
        </div>
        {% endif %}
        </div>
        <p/>
    </div>
    <div class="auteur-article">
        {% if session.toto.admin == 1 and liste.oui.convoque == 0 %}
        <form method="post">
            <input name="convoque" type="submit" class="button submit" value="CONVOQUER">
        </form>
        {% endif %}
        {% if session.toto.admin == 1 and liste.oui.convoque == 1 %}
            <form method="post">
                <input name="annuler_conv" type="submit" class="button submit" value="ANNULER CONVOCATION">
            </form>
        {% endif %}
        {% if session.toto.id == liste.oui.id %}
        <hr class="hr-menu">
        <a class="button connexion" href="index.php?page=profil_update">Modifier mon profil</a>

        <hr class="hr-menu">
        {%  endif %}
        <ul class="rs">
            <li><a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
        </ul>
    </div>


{% endblock %}


