{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-exclamation-circle fa-4x" aria-hidden="true"></i>
    <h2 id="urgent">Communiqué Urgent</h2>
    <a href="index.php?page=article">
        <div class="actu_content">
            <h4 class="titre">06/01/17 | Paiements pour le voyage à Barcelone</h4>
            <p><span>Vous devez payer votre voyage avant Samedi, dépassé cette date nous ne pourrons plus vous accepter. Plus de renseignements auprès de l'administration.</span></p>
            <hr class="hr-auteur">
            <p class="auteur">David Malsot</p>
        </div>
    </a>

    <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
    <h2 id="actu">Actualités</h2>

    {% if session.toto.admin == 1 %}
        <a href="index.php?page=add_actualite"><img src="media/interface/plus-sign.png" alt="plus"></a>
        {% endif %}


    {% for actualite in liste %}
    <a href="index.php?page=article&id={{ actualite.id }}">

        <div class="actu_content">
            <h4 class="titre">{{ actualite.date }} | {{ actualite.titre }}</h4>
            <p><span>{{ actualite.contenu }}</span></p>
            <hr class="hr-auteur">
            <p class="auteur">{{ actualite.responsables }}</p>

        </div>
    </a>
    {% endfor %}


{% endblock %}

{% block meteo %}
    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
    <h2 id="meteo">Météo campus</h2>

        <div class="jours">
            <ul>
                <li><h4 class="titre">Lundi 07 Nov.</h4></li>
                <li>Matin : 8°C</li>
                <li>Après-midi : 11°C</li>
                <li>Temps nuageux</li>
            </ul>
        </div>

        <div class="jours">
            <ul>
                <li><h4 class="titre">Mardi 08 Nov.</h4></li>
                <li>Matin : 7°C</li>
                <li>Après-midi : 9°C</li>
                <li>Temps pluvieux</li>
            </ul>
        </div>
{% endblock %}