{% extends 'front/general.html.twig' %}

{% block contenu %}
    {% if liste !='' %}
        <div class="article">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>

            <h2>{{ liste.oui.titre }}</h2>
            <img src="media/interface/{{ liste.oui.image }}" alt="img">


            <div class="article_content">
                <h3 class="titre">Description :</h3>
                <p>{{ liste.oui.contenu }}</p>
                <p><span class="titre">Coûts de participation :</span> {{ liste.oui.prix }}</p>
                <p><span class="titre">Objets à prévoir :</span> {{ liste.oui.a_prevoir }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block meteo %}
    <div class="auteur-article">
        <a href="index.php?page=404">
            <div class="photo"></div>
        </a>
        <h2>Suleyman Dogan</h2>
        {% if session.toto.admin == 1 %}
            <form method="post">
                <input name="suppr" class="button connexion" type="submit" value="supprimer l'article">
            </form>
            <div>
                <p>Ëtes-vous sûr de vouloir supprimer cette entrée ?</p>
                <form method="post">
                    <input type="submit" class="button connexion" name="oui" value="oui">
                    <input type="submit" class="button connexion" name="non" value="non">
                </form>
            </div>
        {% endif %}
        <h4 class="titre">Date de publication :</h4>
        <p>{{ liste.oui.date | date("d/m/Y") }}</p>
    </div>
{% endblock %}