{% extends 'front/general.html.twig' %}

{% block contenu %}
    {% if liste !='' %}
        <div class="article">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>

            <h2>{{ liste.oui.titre }}</h2>
            <img src="media/interface/{{ liste.oui.image }}" alt="img">

            <div class="article_content">
                <hr>
                <p>
                <h4 class="titre">Rappels !</h4>
                {{ liste.oui.contenu }}
                <h4 class="titre">Coûts</h4>
                {{ liste.oui.prix }}
                <h4 class="titre">A prévoir</h4>
                {{ liste.oui.a_prevoir }}
                </p>
                <br>
            </div>
            <hr>
        </div>
    {% endif %}
{% endblock %}

{% block meteo %}
    <div class="auteur-article">
        <a href="index.php?page=404">
            <div class="photo"></div>
        </a>
        <h2>Suleyman Dogan</h2>
        {% if session.toto.admin == 1 %}
            <form method="post" action="index.php?page=article_evenement_suppr&id={{ liste.oui.id }}">
                <input name="suppr" type="submit" value="supprimer l'article">
            </form>
        {% endif %}
        <h4 class="titre">Date de publication :</h4>
        <p>{{ liste.oui.date | date("d/m/Y") }}</p>
    </div>
{% endblock %}