<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
     <meta name="description" content="Le Dôm est l'intranet du département MMI à Montbéliard. Tout élève du département, même ancien, peut accéder au Dôm, mais pas les intrus !" />
     <meta name="viewport" content="width=device-width ,initial-scale=1.0">

     <title>DÔM | Intra-MMI Montbéliard</title>
     <link rel="stylesheet" href="css/normalize.css"/>
     <link rel="stylesheet" href="css/sidebar.css" media="all and (max-width: 1000px"/>
     <link rel="stylesheet" href="css/menu_desktop.css" media="all" />

     <link rel="stylesheet" href="css/style_phone.css" media="all"/>
     <link rel="stylesheet" href="css/style_tablet.css" media="all and (min-width: 600px) and (max-width: 1000px)"/>
     <link rel="stylesheet" href="css/style_desktop.css" media="all and (min-width: 1000px)" />

     <link rel="stylesheet" href="css/font-awesome-4.6.3/css/font-awesome.min.css">

     <script src="js/modernizr.custom.js"></script>

    <!-- CALENDAR INPUT -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>

    <!-- // CALENDAR INPUT -->


</head>

{% if session.toto !='' %}
    {% if session.toto.admin %}
        <style>
            .icones-menu-profil li:first-child::after{

                content:"{{ notifs.number.oui }}";

            }
        </style>
    {% endif %}

 <body>
    <div id="st-container" class="st-container">
        <nav class="st-menu st-effect-12" id="menu-12">

            <form method="post">
            <ul class="icones-menu-profil">
                {% if session.toto.admin %}


                    <li>
                        <a href="index.php?page=administration">
                            <i class="fa fa-bell" aria-hidden="true">

                            </i>
                        </a>
                    </li>
                {% endif %}
                <li><button type="submit" class="logout" name="logout"><i  class="fa fa-power-off" aria-hidden="true"></i></button></li>
            </ul>
            </form>

            <a href="index.php?page=profil&id={{ session.toto.id }}">
                <div class="photo">
                        <img src="media/uploads/avatars/{{ session.toto.avatar }}" alt="avatar {{ session.toto.prenom }} {{ session.toto.nom }}">
                </div>

                <h3 class="name">
                        {{ session.toto.prenom }}
                </h3>
            </a>

            <hr class="hr-menu">

            <ul class="onglets">
                {% if session.toto.convoque == 1%}
                    <li><a class="icon icon-data" href="index.php?page=viescolaire">Vous êtes convoqué(e) !</a></li>
                    <hr class="hr-menu">
                {% endif %}</h3>
                <li><a href="index.php?page=actualites">ACTUALITÉS</a></li>
                <li><a href="index.php?page=evenements">ÉVÉNEMENTS</a></li>
                <li><a href="index.php?page=viescolaire">VIE SCOLAIRE</a></li>
                <li><a href="index.php?page=listemembres">MEMBRES</a></li>
            </ul>

            {% if session.toto.admin %}
            <hr class="hr-menu">
            <ul class="onglets">
                <li><a class="icon icon-data" href="index.php?page=administration">Administration</a></li>
            </ul>
            {% endif %}

            <hr class="hr-menu">

            <ul class="rs">
                <li><a href="https://www.facebook.com/mmimontbeliard/?fref=ts"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/mmimontbeliard"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
                <li><a href="https://fr.linkedin.com/company/src-media"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></li>
            </ul>

            <a href="http://mmimontbeliard.com">
                <img  src="media/interface/mmi.png" id="logo-mmi" alt="Logo-MMI">
            </a>

            <div class="footer">
                <span>
                    Site réalisé dans le cadre d’un projet au <a href="http://mmimontbeliard.com"><b>département MMI</b></a> de Montbéliard.

                        <p>Tous droits réservés - 2016/2017</p>
                </span>
            </div>
        </nav>

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <main>
                    <header>

                        <div id="st-trigger-effects" class="column">
                            <button data-effect="st-effect-12" class="fa fa-bars fa-2x" aria-hidden="true"></button>
                        </div>

                        <a href="index.php?page=actualites">
                            <img src="media/interface/DOM_Logo_Final.png" id="logo-dom" alt="Logo-DOM">
                        </a>

                    </header>

                    <hr class="hr-actu un" />
                    <div id="conteneur">


                        <div class="contenu">
                            {% block contenu %}


                            {% endblock %}
                        </div>
                        <aside>
                            {% block aside %}
                                <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
                                <h2 id="meteo">Météo campus</h2>
                                <div id="jours">
                                    <div class="jours">
                                        <ul>
                                            <li><h4 class="titre">Lundi 07 Nov.</h4></li>
                                            <li>Matin : 8°C</li>
                                            <li>Après-midi : 11°C</li>
                                            <li>Temps nuageux</li>
                                        </ul>
                                    </div>

                                    <div class="jours">
                                        <ul>
                                            <li><h4 class="titre">Mardi 08 Nov.</h4></li>
                                            <li>Matin : 7°C</li>
                                            <li>Après-midi : 9°C</li>
                                            <li>Temps pluvieux</li>
                                        </ul>
                                    </div>
                                </div>

                            {% endblock %}
                        </aside>

                    </div>

                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="js/classie.js"></script>
    <script src="js/sidebarEffects.js"></script>
 </body>


{%  else %}
    <body>
        <main>
            <div class="contenu">
                <h3>Vous devez être connecté pour accéder à cette page.</h3>
                <center><a href="index.php">Connexion</a> | <a href="index.php?page=inscription">Inscription</a></center>
            </div>
        </main>

    </body>
{%  endif %}

</html>
