{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-calendar-plus-o fa-4x" aria-hidden="true"></i>
    <h2 id="admin">Evénements à approuver</h2>
    {% if liste != null %}

    {% for evenement in liste %}
        <a href="?page=previsualisation&id={{ evenement.id }} ">{{ evenement.id }} | {{ evenement.titre }} </a><br><br>

        {% endfor %}

     {% else %}
         IL N'Y A AUCUN EVENEMENT PROPOSÉ
     {% endif %}

    <hr class="hr-actu">

    <i class="fa fa-user-plus fa-4x" aria-hidden="true"></i>
    <h2 id="admin">Utilisateur à approuver</h2>

    {% if utilisateurs != null %}

        {% for user in utilisateurs %}

            <a href="?page=previsualisation_user&id={{ user.id }} ">{{ user.id }} | {{ user.nom }}  {{ user.prenom }}</a><br><br>
        {% endfor %}



    {% else %}
        IL N'Y A AUCUN UTILISATEUR A APPROUVER
    {% endif %}

    <hr class="hr-actu">

{% endblock %}
