{% extends 'front/general.html.twig' %}

{% block contenu %}

    <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i>
    <h2 id="actu">Evénements à approuver</h2>
    {% if liste != null %}

    {% for evenement in liste %}
        <a href="?page=previsualisation&id={{ evenement.id }} ">{{ evenement.id }} | {{ evenement.titre }} </a><br><br>

        {% endfor %}

     {% else %}
         IL N'Y A AUCUN EVENEMENT PROPOSÉ
     {% endif %}

    <hr>

    {% if utilisateurs != null %}

        {% for user in utilisateurs %}
            <p>{{ user.id }} | {{ user.nom }} | {{ user.prenom }} </p><br><br>

        {% endfor %}

    {% else %}
        IL N'Y A AUCUN UTILISATEUR A APPROUVER
    {% endif %}


{% endblock %}

{% block meteo %}
    <i class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
    <h2 id="meteo">Météo campus</h2>

    <div class="jours">
        <ul>
            <li><h4 class="titre">Lundi 07 Nov.</h4></li>
            <li>Matin : 8°C</li>
            <li>Après-midi : 11°C</li>
            <li>Temps nuageux</li>
        </ul>
    </div>

    <div class="jours">
        <ul>
            <li><h4 class="titre">Mardi 08 Nov.</h4></li>
            <li>Matin : 7°C</li>
            <li>Après-midi : 9°C</li>
            <li>Temps pluvieux</li>
        </ul>
    </div>
{% endblock %}