{% extends 'front/general.html.twig' %}

{% block contenu %}
    {% if liste !='' %}
        <div class="article">
            <i class="fa fa-file-text fa-4x" aria-hidden="true"></i>

            <h2>{{ liste.oui.titre }}</h2>
            <img src="media/uploads/evenements/{{ liste.oui.image }}" alt="img">

            <div class="article_content">
                <p><span class="titre">Publié par :</span> {{ liste.oui.auteurPrenom }} {{ liste.oui.auteurNom }} </p>
                <h3 class="titre">Description :</h3>
                <p class="desc_article">{{ liste.oui.contenu }}</p>
                <p><span class="titre">Coûts de participation :</span> {{ liste.oui.prix }} €</p>
                <p><span class="titre">Objets à prévoir :</span> {{ liste.oui.a_prevoir }}</p>
                <p><span class="titre">Date de l'évènement :</span> {{ liste.oui.date | date("d/m/Y") }}</p>
            </div>

        </div>
    {% endif %}
{% endblock %}

{% block aside %}
    <div class="auteur-article">
        <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
        <h2>Gestion</h2>
        <a href="index.php?page=404">
            <div class="photo"></div>
        </a>
        <h2>{{ liste.oui.responsables }}</h2>
        {% if session.toto.admin == 1 %}
            <hr class="hr-menu">
            <form method="post">
                <input name="valider" class="button connexion" type="submit" value="Approuver">
                <input name="suppr" class="button connexion" type="submit" value="Supprimer l'article">
            </form>
            <hr class="hr-menu">
        {% endif %}

    </div>
{% endblock %}